﻿@model List<Ex8Homework.Models.Product>

@{
    ViewData["Title"] = "Index";
}



<h1>Index</h1>
<p>
    Say something! @Model
</p>

@foreach (var item in Model)
{
    <table>
        <tr>
            <td>
                @item.Id;
            </td>
            <td>
                @item.Name;
            </td>
            <td>
                @item.Description;
            </td>
        </tr>
    </table>

}


