﻿
@model List<Ex7Homework.Models.CustomDateTime>

@{
    ViewData["Title"] = "Index";
}

@{
    var cdt = ViewBag.CustomDateTime;
}

<h1>Index</h1>
<p>
    Data de astzi este:

</p>

@{
    ViewData["Title"] = "Index";
    var first = Model.First();

}


@foreach (var item in Model)
{
    <table>
        <tr>
            <td>
                @item.Date;
            </td>
            <td>
                @item.Day;
            </td>
            <td>
                @item.Hour;
            </td>
        </tr>
    </table>

}

