﻿
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    @Model;
</p>

@foreach (var item in Model)
{
    <table>
        <tr>
            <td>
                @item.Id;
            </td>
            <td>
                @item.Name;
            </td>
            <td>
                @item.Description;
            </td>
        </tr>
    </table>
}